@model User 

<ul>
    @foreach(Collection collection in Model.Collections)
    {
        <li>@collection.Song.Title- @collection.Song.Artist.Name</li>
        <form asp-action="DelistSong" method="post"> 
            <input type="hidden" value="@Model.Id" name="userId"/>
            <input type="hidden" value="@collection.Song.Id" name="songId"/>
            <button type="submit">Delete</button>
            
        </form>
    }
</ul>

        <form asp-action="EnlistSong" method="post"> 
            <input type="hidden" value="@Model.Id" name="userId"/>
            <select asp-items="@ViewBag.Message" name="songId"></select>          
            <button type="submit">Add Song</button>            
        </form>

